{% extends "base.html" %}
{% block body %}
	<form method="POST" action="/admin-nouveau">
		<div class="liste-article">
			<div class="article-complet article-edit">
			
				<input type="text" name="titre" class="titre" placeholder="Titre"></input>

				<input type="text" name="identifiant" class="identifiant" 	placeholder="identifiant"></input>

				<input type="text" name="auteur" class="auteur" placeholder="auteur"></input>

				<textarea type="text" class="paragraphe" name="paragraphe" 	placeholder="Paragraphe"></textarea>

				<input type="date" name="date_publication" class="date-input 	date-publication" placeholder="Date"></input>

				<input class="publish-btn" type="submit" title="save" value="">

			</div>
		</div>
	</form>
{% endblock %}
