<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>simpleBlog</title>
		<meta name="author" content="Elias Touil">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta description="Un petit blog minimaliste pour TP1 Jacques Berger INF3005"/>
		<link href="{{ url_for('static',filename='css/simpleBlog.css') }}" media="screen, projection" rel="stylesheet" type="text/css"/>
	</head>
	<body class="body">
		<div class="nav">
			<nav class="nav_list">
				<form class="nav_item" method='POST' action='/'>
					<input type="search" name="search">
				</form>	
				<div class="nav_item">
					<a href="{{url_for('index')}}">
						Accueil
					</a>
				</div>
				<div class="nav_item">
					<a href="{{url_for('admin')}}">
						CMS
					</a>
				</div>
				<div class="nav_item">
					<a href="{{url_for('adminNouveau')}}">
						Nouveau
					</a>
				</div>
			</nav>
		</div>
		{%block body%}
		{%endblock%}
	</body>
</html>